*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.main_img{
    background-image: url('../../assets/backmain.jpg');
    filter: brightness(70%) contrast(120%) grayscale(30%) blur(0px);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
}

.cardtrilha {
    background-color: antiquewhite;
}

.container_trilhas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}