.headercontainer {
    display: flex;
    justify-content: space-between; 
    padding: 1rem 2rem;
    background-color: var(--primary);
    color: white;
  }
  
  .title {
    text-decoration: none;
    color: white;
  }
  
  .explorer {
    display: flex;
    flex-direction: row;
    margin-left: 900px;
    list-style-type: none;
    gap: 2rem;
  }