

.container{
    background-color: white;
}


.cardtrilha {
    background-color: antiquewhite;
}

.container-trilhas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}